# npmでインストールしたnode_modulesはnpmで管理されるのでgitの監視対象外にする
node_modules/

# .nextはdevに実行時に使用されるものなので監視対象外へ
.next/

# 実行環境の状態はnpmで管理できるので監視対象外へ
/package-lock.json
/package.json

# テストファイルは各個人用の試験用ファイルにするため監視対象外へ
/src/pages/test.js

# 環境変数のローカル
.env.local